* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    background: #5b84c1;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #d6a1a1;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

input, select, textarea, button {
    flex: 1 1 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

textarea {
    width: 100%;
    resize: vertical;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #388e3c;
}

.display {
    margin-top: 30px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
}

#btnDelete{
    background-color: red;
}
#btnDelete:hover{
    background-color: #388e3c;
}table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 10px;
     background-color: #fff;
     border-radius: 8px;
     overflow: hidden;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
 }

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 50px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;

}

td {
    font-size: 14px;
}

/* Nút sửa và xoá */
button {
    padding: 6px 12px;
    margin: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

button:hover {
    opacity: 0.9;
}

button:nth-child(1) {
    background-color: #007bff; /* Edit - xanh dương */
}

button:nth-child(2) {
    background-color: #dc3545; /* Delete - đỏ */
}
